// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #f6c90e;
  --ion-color-primary-rgb: 246, 201, 14;
  --ion-color-primary-contrast: #101114;
  --ion-color-primary-contrast-rgb: 16, 17, 20;
  --ion-color-primary-shade: #d8b10c;
  --ion-color-primary-tint: #f7ce26;
  --ion-background-color: #0d0e11;
  --ion-text-color: #f7f7f2;
  --ion-font-family: Inter, Arial, sans-serif;
}
